/*
  background-image: url("./images/Prime-ish_tile.png");
}
*/

.container{

    width: 60%;
    margin: auto;
    border:8px solid #ccc;
    border-radius: 15px;
    adding: 30px;
    background-color: lightgrey;
}

.NamePictureAddress{
text-align: center;
word-spacing: 0.5em;
}

.NamePictureAddress h1{
  font-size: 40;
  text-decoration: underline;
  font-color: blue;
  font-family:serif;
}

body{
  background-color: white;
}


